<%- layout('layout', { title: 'Home' }) %>
<h1 class="display-4">DBZ CCG Deck Builder</h1>
<p class="lead mt-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, doloribus ex. Soluta non dignissimos porro pariatur ullam modi nisi ad voluptates quasi? Corporis, magni! Nulla dolorem est odit nisi eaque. <br><br>
  Ut voluptates, ab molestiae quidem similique enim natus placeat repudiandae minus a harum architecto necessitatibus labore perferendis velit dolorem rerum tempora inventore. Minima hic magnam necessitatibus odit omnis? Rem, dolorem! <br><br>
  Quisquam numquam aliquam quos ab. Iusto maxime aut perspiciatis tenetur cupiditate? Iure optio praesentium assumenda eos quis adipisci, repellendus quidem cumque ea iste, quaerat illo tempora. Corporis fugiat non assumenda.
</p>